header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background: -webkit-linear-gradient(to right, rgb(40, 59, 34), rgb(54, 60, 70), #0d3e3e);
  background: linear-gradient(to right, #008b8b, rgb(50, 55, 65), #0b3b3b);
height: 100px;
  color: #fff;
  
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to right, #91eae4, #86a8e7, #4dfffc);
}
a{
  text-decoration: none;
  color: #2cc2c7;
  
}
ul{
  color: #2cc2c7;
  list-style: none;
  padding: 5px;

}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(233, 233, 233); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(56, 56, 56); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1b1b1b; 
}
/*==hero========================*/
#hero{
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 90%;
  margin: 0px auto;
  padding: 30px 0px;

}
.logo{
  color:#122853;
  font-weight: 700;
  font-size: 1.4rem;
  margin-top: 10px;
}
.logo span{
  background-color: #014dd5;
  color: #ffffff;
  padding: 0px 5px;
  border-radius: 5px;
  font-weight: 600;
  margin-right: 10px;
}
.menu{
  display: flex;
 
  margin-left: 60%;
}

.navli{
  width: 100px;
  justify-content: space-between;
  color: #2cc2c7;
  text-decoration: none;
  font-size: large;
  display: inline;
  transition: all ease 0.3s;
}
.menu li a:hover{
  color: #014dd5;
}
.nav-appointment-btn{
  height: 45px;
  padding: 0px 20px;
  border-radius:4px;
  background-color: #2a989c;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 0.9rem;
}


h1 {
    margin-left: 20%;
    font-size: 2em;
    display: flex;
    align-items: center;
}

.logo {
    height: 60px;
    margin-right: 10px;
    border-radius: 30px 30px;
}

p {
    margin: 5px 0 0;
    font-size: 1.2em;
    color: #dee2e6;
}

main {
    margin: 20px;
    flex: 1;
    place-items: center;

}

article {
    margin-bottom: 30px;
    margin-left: 18%;
    width: 60%;
    padding: 20px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #28292b;
}

p {
    color: #313232;
}


@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    font-family: "Quicksand", sans-serif;
    display: grid;
    background: #7f7fd5;
    background: linear-gradient(to right, #05beb2, #4e77c2, #1d6867);
  }

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1500px;
  margin-block: 2rem;
  gap: 2rem;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  width:450px;
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);

}



.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.user__image{
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;
}

.tag + .tag {
  margin-left: .5em;
}

.tag-blue {
  background: #56CCF2;
background: linear-gradient(to bottom, #2F80ED, #56CCF2);
  color: #fafafa;
}

.tag-brown {
  background: #D1913C;
background: linear-gradient(to bottom, #FFD194, #D1913C);
  color: #fafafa;
}

.tag-red {
  background: #cb2d3e;
background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: .5rem;
}

.user__image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.user__info{
  margin-top: 15%;
}
.user__info > small {
  color: #666;

}
#subscribe{
    max-width: 1000px;
    width: 90%;
    background-color:#174dac;
    padding: 50px;  
    border-radius: 10px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#subscribe h3{
    font-size: 2.6rem;
    color: #ffffff;
    font-weight: 600;
    line-height: 3.4rem;
    max-width:600px;
    text-align: center;
}
.subscribe-box{
    max-width: 600px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 4px;
    height: 50px;
    display: flex;
    padding: 5px;
    margin-top: 20px;
}
.subscribe-box input{
    width: 100%;
    height: 100%;
    padding: 0px 10px;
    border: none;
    outline: none;
}
.subscribe-box button{
    background-color: #122853;
    color: #ffffff;
    border-radius: 4px;
    max-width: 120px;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.4px;
}


footer{
width: 100%;
background: -webkit-linear-gradient(to right, rgb(40, 59, 34), rgb(54, 60, 70), #0d3e3e);
background: linear-gradient(to right, #008b8b, rgb(50, 55, 65), #0b3b3b);

}
.footer-container{
max-width: 1200px;
width: 90%;
margin: 0px auto;
padding: 50px 0px;
display:flex;
justify-content: space-between;
align-items: flex-start;
}
.footer-company-box{
max-width: 330px;
}
.footer-company-box p{
color: #adfcff;
margin: 5px 0px;
font-size: 0.9rem;
letter-spacing: 0.3px;
line-height: 1.4rem;
}
.footer-social{
display: flex;
align-items: center;
flex-wrap: wrap;
border-radius: 60%;

}
.footer-social a{
margin-top: 10px;
margin-right: 10px;
width: 40px;
height: 40px;
border-radius: 60%;
display: flex;
justify-content: center;
align-items: center;
border: 1px solid #e9e9e9;
color: #baf3fe;
font-size: 0.9rem;
transition: all ease 0.3s;
}
.footer-social a:hover{
background-color: #122853;
color: #ffffff;
}
.footer-link-box strong{
font-size: 1.2rem;
color: #57c4ff;
font-weight: 600;
}
.footer-link-box ul{
margin-top: 5px;
text-decoration: none;
}
.footer-container ul li a{
text-decoration: none;
color: #adfcff;
font-size: 0.9rem;
margin-bottom: 5px;
display: flex;
transition: all ease 0.3s;
}
.footer-container ul li a:hover{
color: #4b70bc;
}
.footer-bottom{
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
grid-gap: 10px;
border-top: 1px solid #e9e9e9;
padding: 20px 0px;
max-width: 1200px;
width: 90%;
margin: auto;
}
.footer-bottom span{
color: #cbefff;
font-size: 0.9rem;
}

@media only screen and (max-width: 760px) {
  header {
      padding: 10px;
  }


  h1 {
      margin-left: 5%;
      font-size: 1.5em;
  }

  article {
      margin-left: 2%;
      width: 96%;
  }

  .user__image {
      width: 60px;
      height: 60px;
  }

  .container {
      max-width: 95%;
  }

  .card {
      width: 100%;
  }

  #subscribe h3 {
      font-size: 1.8rem;
      line-height: 2.6rem;
      max-width: 350px;
  }

  .subscribe-box {
      max-width: 350px;
  }

  
}
@media (max-width: 576px) {
  header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}


.menu-icon,
.menu-btn{
    display: none;
}

@media(max-width:1200px){
    .footer-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
    }
}
@media(max-width:1050px){
    .hero-content{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: 50px auto;
    }
    .hero-text{
        margin-bottom: 40px;
        background-color: #ffffff;
        padding: 30px;
        margin-top: 0px;
    }
}

@media(max-width:950px){
    .navigation{
        justify-content: space-between;
        padding: 30px 0px;
        position: relative;
        width: 100%;
        padding: 20px;
    }
    .logo,
    .nav-appointment-btn{
        z-index: 103;
    }
    .logo{
        margin-right: auto;
        margin-left: 20px;
    }
    .navigation .menu{
        display: none;
        position: absolute;
        left: 0px;
        top:100%;
        background-color: #ffffff;
        width: 100%;
        padding: 0px;
        margin: 0px;
        z-index: 102;
        box-shadow: 2px 30px 30px rgba(0,0,0,0.06);
    }
    .navigation .menu::after{
        content: '';
        position: absolute;
        left: 0px;
        top: -100%;
        background-color: #ffffff;
        width: 100%;
        height: 100%;
    }
    .navigation .menu li{
        width:100%;
        margin: 0px;
        padding: 0px;
    }
    .navigation .menu li a{
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        margin: 0px;
        padding: 30px 20px;
    }
    .menu-icon{
        display: block;
    }
    .navigation .menu-icon{
        cursor: pointer;
        float: right;
        padding: 10px 0px;
        position: relative;
        user-select: none;
        z-index: 106;
    }
    .navigation .menu-icon .nav-icon{
        background-color: #181818;
        display: block;
        position: relative;
        height: 2px;
        transition: background 0.2s ease-out;
        width: 25px;
    }
    .navigation .menu-icon .nav-icon::before,
    .navigation .menu-icon .nav-icon::after{
        background-color: #181818;
        content: '';
        position: absolute;
        height: 100%;
        transition: all ease-out 0.2s;
        width: 100%;
    }

    .navigation .menu-icon .nav-icon::before{
        top: 9px;
    }
    .navigation .menu-icon .nav-icon::after{
        top: -9px;
    }
    .navigation .menu-icon:checked ~ .menu-icon .nav-icon,
    .navigation .menu-btn:checked ~ .menu-icon .nav-icon{
        background-color: transparent;
    }
    .navigation .menu-btn:checked ~ .menu-icon .nav-icon::before{
        transform: rotate(-45deg);
        top: 0px;
    }
    .navigation .menu-btn:checked ~ .menu-icon .nav-icon::after{
        transform: rotate(45deg);
        top: 0px;
    }
 
    .navigation .menu-btn:checked ~ .menu{
        display: block;
    }

    .what-we-provide{
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
    #our_story{
        grid-template-columns: 1fr;
    }
    .our-story-img img{
        max-height: 400px;
    }
    .our-stroy-text{
        padding: 30px;
    }
    #why-choose-us{
        grid-template-columns: 1fr;
    }
    .testimonials-content{
        grid-template-columns: 1fr;
    }
    .testimonials-img{
        margin-right: auto;
    }
    .testimonials-img img{
        width: 100%;
    }
}
@media(max-width:620px){
    .hero-text{
        padding: 20px;
    }
    .hero-text h1,
    .our-stroy-text h2,
    .services-heading h2,
    .why-choose-us-left h3,
    .why-choose-us-right h3,
    .our-team-heading h3,
    .testimonials-heading h3{
        font-size: 1.8rem;
        line-height: 2.2rem;
    }
    .hero-text-btns{
        flex-direction: column;
    }
    .hero-text-btns a{
        width: 100%;
        margin-top: 5px;
    }
    .appointment-search{
        grid-template-columns: 1fr;
    }
    .appointment-search button{
        height: 45px;
    }
    .what-we-provide{
        grid-template-columns: 1fr;
    }
    .our-stroy-text{
        padding: 20px 15px;
    }
    .story-numbers-box{
        padding: 15px;
    }
    .story-numbers-box strong{
        font-size: 1.4rem;
    }
    .why-choose-us-right,
    .why-choose-us-left{
        padding: 30px 20px;
    }
    .why-choose-box-container{
        grid-template-columns: 1fr;}
    #subscribe h3{
        font-size: 1.4rem;
        line-height: 1.8rem;
    }
    #subscribe{
        padding: 20px;
    }
	 .footer-container{
        grid-template-columns: 1fr;
    }
}
@media(max-width:320px){
    .nav-appointment-btn{
        display: none;
    }
    .story-numbers-container{
        grid-template-columns: 1fr;
    }
}