{% extends 'index.html' %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% block title %}
    tabibi - Health Assistant
{% endblock %}

{% block logo %}
<img src="{{ url_for('static', filename='tabibi.png') }}" class="rounded-circle user_img">
{% endblock %}

{% block header %}
    tabibi - Health Assistant
{% endblock %}

{% block button %}
    <a id="signin-button" href="{{ url_for('sign_in.sign_in') }}">Sign In</a>
{% endblock %}

{% block content %}

    <h1>AI Health Assistant for all your health-<br> related questions.</h1>
    <span class="warning">&#9888;</span>
    <span class="warning-text">tabibi AI Health Assistant is for informational purposes only. Don’t take any actions without a doctor’s validation or consultation.</span>
{% endblock %}

{% block footer %}
    tabibi - Health Assistant
{% endblock %}
