{% extends 'index.html' %}

{% block title %}
    tabibi - Health Assistant
{% endblock %}

{% block logo %}
    tabibi
{% endblock %}

{% block header %}
    tabibi - Health Assistant
{% endblock %}

{% block button %}
    <button id="signin-button" onclick="location.href='{{ url_for('sign_in') }}'">Sign In</button>
{% endblock %}

{% block content %}
    <h1>AI Health Assistant for all your health-<br> related questions.</h1>
    <span class="warning">&#9888;</span>
    <span class="warning-text">tabibi AI Health Assistant is for informational purposes only. Don’t take any actions without a doctor’s validation or consultation.</span>
{% endblock %}

{% block footer %}
    tabibi - Health Assistant
{% endblock %}
