<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tabibi - Health Assistant</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}"> <!-- Link to the external CSS file -->
</head>
<body>

    <header>
        <div id="logo">tabibi</div>
        <h1>tabibi - Health Assistant</h1>
        <button id="signin-button" onclick="location.href='{{ url_for('sign_in') }}'">Sign In</button>
    </header>

    <section>
        <h1>AI Health Assistant for all your health-<br> related questions.</h1>
        <span class="warning">&#9888;</span>
            <span class="warning-text">tabibi AI Health Assistant is for informational purposes only. Don’t take any actions without a doctor’s validation or consultation.</span>
    </section>

    <footer>
        &copy; 2024 tabibi - Health Assistant
    </footer>

</body>
</html>
